name: Format and test AIMA

on:
  push:
    branches: 
      - "main"

jobs:
  ruff:
    runs-on: macos-latest
    steps:
      - name: Lint/format with ruff
        uses: chartboost/ruff-action@v1
        with:
          src: "./src"
          args: "format --check"
  test:
    runs-on: macos-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
      - name: Test with pytest
        run: |
          python3.11 -m pytest
